/games/images/bg-body-gamepage.jpg {
  background-image: url(h) t !important;
}
/games/images/txt-online-casino.png {
  background-image: url(h) t !important;
}
/games/images/txt-20-free3.png {
  background-image: url(h) t !important;
}
/games/images/txt-no-bonus2.png {
  background-image: url(h) t !important;
}
/games/images/sprite.png {
  background-image: url(h) t !important;
}
/games/images/transparent.png {
  background-image: url(h) t !important;
}
